@import url('https://fonts.googleapis.com/css2?family=Prata&family=Questrial&display=swap');
body {
    margin: 0px;
    background-color: rgba(255, 208, 232, 0.4);
}

.header-container {
    width: 100%;
    height: 80px;
    display: flex;
}

.img-header-container {
    width: 150px;
    height: 50px;
}

.img-header-container img {
    width: 100%;
    height: auto;
    padding: 10px;
}

.shopping-basket-section {
    width: 100px;
    height: 30px;
    font-size: 20px;
    font-family: 'Questrial', sans-serif;
    font-weight: 100;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    right: 70px;
    top: 30px;
    border: none;
    background-color: transparent;
}

.fa-shopping-basket {
    color: #CA1F7F;
    padding-right: 10px;
}

.banner {
    width: 100%;
    height: 330px;
    background-image: url(./img/banner.jpg);
    background-position: center;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Prata', serif;
    font-size: 20px;
    color: #000000;
    -webkit-box-shadow: 2px 6px 11px -5px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 2px 6px 11px -5px rgba(0, 0, 0, 0.75);
    box-shadow: 2px 6px 11px -5px rgba(0, 0, 0, 0.75);
}

.banner::before {
    width: 100%;
    height: 330px;
    content: '';
    background-color: rgba(0, 0, 0, 0.2);
    display: flex;
    position: absolute;
}

.principal-section-container {
    width: 100%;
}

.products-cards-section {
    width: 75%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    position: absolute;
    right: 20px;
    top: 600px;
}

.product-card {
    width: 320px;
    height: 500px;
    background-color: #ffffff;
    margin: 8px;
}

.filters-results {
    width: 75%;
    height: 80px;
    background-color: rebeccapurple;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: absolute;
    right: 20px;
    margin-top: 70px;
    background-color: #ffffff;
}

.filters-results p {
    font-family: 'Questrial', sans-serif;
    padding: 20px;
    font-size: 15px;
}

.buttons-filters-container {
    display: flex;
    position: absolute;
    right: 20px;
}

.button-filter {
    border: none;
    font-size: 20px;
    background-color: transparent;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #CA1F7F;
}

.aside-container {
    width: 20%;
    height: auto;
}

.search-filters {
    width: 100%;
    height: 30px;
    margin-top: 70px;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: 'Questrial', sans-serif;
}

.search-filters p {
    color: #000000;
    font-size: 15px;
    padding-left: 5px;
}

.search-filters h2 {
    font-size: 15 px;
    padding-right: 70px;
}

.search-box {
    width: 100%;
    padding-left: 20px;
    font-family: 'Questrial', sans-serif;
    display: flex;
}

#search-box-input {
    width: 120%;
    padding: 10px;
    border: none;
    border-bottom: 2px solid #CA1F7F;
    background-color: transparent;
    text-align: center;
    font-size: 15px;
    display: flex;
}

.search-box>button {
    position: relative;
    left: 15px;
    top: 25px;
    color: #CA1F7F;
}

.filters-checkbox {
    display: flex;
    flex-direction: column;
    font-family: 'Questrial', sans-serif;
    padding-left: 20px;
    padding-top: 20px;
}

.fa-heart {
    color: #CA1F7F;
}