@import url('https://fonts.googleapis.com/css2?family=Prata&family=Questrial&display=swap');
body {
    width: 100%;
    margin: 0px;
    background-color: rgba(255, 208, 232, 0.4);
}


/* SECCION DE CESTA LLENA- DISPLAY BLOCK*/

.items-cest-container {
    width: 25%;
    height: auto;
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 0px;
    right: 0px;
    z-index: 2;
    padding: 20px;
    font-family: 'Questrial', sans-serif;
    font-size: 15px;
    background-color: #ffffff;
}

.title-cest {
    width: 60%;
    display: flex;
    align-items: center;
}

.title-cest i {
    position: absolute;
    right: 10px;
}

.cards-items {
    overflow: scroll;
}

.items-add-container {
    width: 100%;
    height: 130px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 10px;
    padding-bottom: 10px;
    border-bottom: 1px solid #DCDCDC;
}

.items-add-img {
    width: 130px;
}

.items-add-img img {
    width: 100%;
    height: auto;
}

.title-trash-section {
    display: flex;
    justify-content: space-between;
}

.items-add-description {
    width: 60%;
    display: flex;
    flex-direction: column;
}

.items-add-description h3 {
    font-size: 15px;
}

.items-add-price {
    width: 100%;
    display: flex;
    flex-direction: column;
}

.items-add-price input {
    width: 40px;
    height: 25px;
}

.unit-price {
    display: flex;
    justify-content: space-between;
}

.unit-price p {
    margin-top: 0px;
    font-size: 18px;
}


/* BOTONES DE COMPRAR Y VACIAR CESTA*/

.shop-button {
    background-color: #CB1F7F;
    color: #ffffff;
    border: none;
    border-radius: 10px;
    padding: 15px;
    margin-bottom: 15px;
}

.empty-shop-button {
    background-color: #ffffff;
    color: #CB1F7F;
    border: 1px solid #CB1F7F;
    border-radius: 10px;
    padding: 15px;
}


/* SECCION DE LOGO Y CESTA*/

.header-container {
    width: 100%;
    height: 80px;
    display: flex;
}

.img-header-container {
    width: 150px;
    height: 50px;
}

.img-header-container img {
    width: 100%;
    height: auto;
    padding: 10px;
}

.shopping-basket-section {
    width: 200px;
    height: 30px;
    font-size: 20px;
    font-family: 'Questrial', sans-serif;
    font-weight: 100;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    right: 5px;
    top: 30px;
    border: none;
    background-color: transparent;
}

.fa-shopping-basket {
    color: #CA1F7F;
    padding-right: 10px;
}


/* BANNER*/

.banner {
    width: 100%;
    height: 330px;
    background-image: url(./img/banner.jpg);
    background-position: center;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Prata', serif;
    font-size: 20px;
    color: #CA1F7F;
    -webkit-box-shadow: 2px 6px 11px -5px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 2px 6px 11px -5px rgba(0, 0, 0, 0.75);
    box-shadow: 2px 6px 11px -5px rgba(0, 0, 0, 0.75);
}

.banner::before {
    width: 100%;
    height: 330px;
    content: '';
    background-color: rgba(0, 0, 0, 0.2);
    display: flex;
    position: absolute;
}


/* SECCION PRINCIPAL*/

.principal-section {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: space-between;
}

.products-container {
    width: 75%;
    height: auto;
}

.filters-results-container {
    width: 100%;
    height: 80px;
    background-color: #ffffff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 70px;
}

.filters-results-container p {
    font-family: 'Questrial', sans-serif;
    font-size: 15px;
    margin-left: 15px;
    margin-right: 10px;
}

.buttons-filters-container {
    display: flex;
    padding: 10px;
}

.button-filter {
    border: none;
    font-size: 20px;
    background-color: transparent;
    display: flex;
    align-items: center;
    color: #CA1F7F;
}

.products-cards-section {
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.product-card {
    width: 320px;
    height: 550px;
    background-color: #ffffff;
    font-family: 'Questrial', sans-serif;
    display: flex;
    justify-content: center;
    text-align: center;
    margin-top: 15px;
}

.product-information-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 25px;
}

.product-img {
    width: 100%;
    height: auto;
}

.product-img img {
    width: 100%;
    height: auto;
}

.product-title {
    font-family: 'Prata', serif;
    font-size: 15px;
}

.product-buy {
    margin-top: 25px;
}

.buy-button {
    width: 100%;
    height: 50px;
    border: none;
    border-radius: 10px;
    background-color: transparent;
    font-family: 'Questrial', sans-serif;
    font-size: 15px;
    background-color: rgba(255, 208, 232, 0.4);
}

.buy-button:hover {
    background-color: rgba(255, 208, 232, 0.6)
}

.aside-container {
    width: 20%;
    height: 100%;
    position: relative;
    left: 0px;
}

.search-filters {
    width: 100%;
    height: 30px;
    margin-top: 70px;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: 'Questrial', sans-serif;
}

.search-filters p {
    color: #000000;
    font-size: 15px;
    padding-left: 5px;
}

.search-filters h2 {
    font-size: 15 px;
    padding-right: 70px;
}

.search-box {
    width: 100%;
    padding-left: 20px;
    font-family: 'Questrial', sans-serif;
    display: flex;
}

#search-box-input {
    width: 120%;
    padding: 10px;
    border: none;
    border-bottom: 2px solid #CA1F7F;
    background-color: transparent;
    text-align: center;
    font-size: 15px;
    display: flex;
}

.search-box>button {
    position: relative;
    left: 15px;
    top: 25px;
    color: #CA1F7F;
}

.filters-checkbox {
    display: flex;
    flex-direction: column;
    font-family: 'Questrial', sans-serif;
    padding-left: 20px;
    padding-top: 20px;
}

.fa-heart {
    color: #CA1F7F;
}

.footer-container {
    width: 100%;
    height: 100px;
    background-color: #ffffff;
    position: relative;
    bottom: 0px;
    margin-top: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Questrial', sans-serif;
}

.footer-container img {
    width: 100px;
    height: 40px;
    padding: 10px;
}

.footer-container i {
    margin-left: 5px;
}