@import url('https://fonts.googleapis.com/css2?family=Prata&family=Questrial&display=swap');
body {
    width: 100%;
    margin: 0px;
    background-color: rgba(255, 208, 232, 0.4);
}


/* SECCION DE FORMULARIO DE COMPRA  */

.pay-form-section {
    width: 700px;
    height: 100vh;
    background-color: #ffffff;
    display: flex;
    justify-content: center;
    position: relative;
    top: 0px;
    left: 300px;
    font-family: 'Questrial', sans-serif;
    z-index: 3;
}

.personal-information-form {
    display: flex;
    flex-direction: column;
    border-bottom: 1px solid #DCDCDC;
    padding-bottom: 40px;
    padding-left: 20px;
}

.personal-information-form input {
    width: 250px;
    height: 40px;
    border: none;
    border-bottom: 1px solid #000000;
    padding-left: 15px;
    font-family: 'Questrial', sans-serif;
    font-size: 15px;
}

.pay-options-form {
    padding-top: 30px;
    padding-left: 20px;
}

.pay-options-form input {
    margin-top: 10px;
}

.total-resume-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.total-subtotal {
    width: 300px;
    height: 80%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: #F5F5F5;
    padding-left: 20px;
}

#subtotal {
    font-size: 20px;
}

#total {
    font-size: 30px;
    font-weight: 700;
}

.button-pay-group {
    display: flex;
    margin-top: 30px;
    margin-bottom: 30px;
}

#finalize-pay {
    background-color: #CB1F7F;
    color: #ffffff;
    margin-left: 5px;
}


/* SECCION DE CESTA LLENA */

.items-cest-container {
    width: 350px;
    height: 100vh;
    display: flex;
    flex-direction: column;
    position: fixed;
    top: 0px;
    right: 0px;
    padding: 20px;
    font-family: 'Questrial', sans-serif;
    font-size: 15px;
    background-color: #ffffff;
    z-index: 1;
}

.title-cest {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.cards-items {
    overflow: scroll;
}

.items-add-container {
    width: 100%;
    height: 130px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 10px;
    padding-bottom: 10px;
    border-bottom: 1px solid #DCDCDC;
}

.items-add-img {
    width: 130px;
}

.items-add-img img {
    width: 100%;
    height: auto;
}

.title-trash-section {
    display: flex;
    justify-content: space-between;
}

.items-add-description {
    width: 60%;
    display: flex;
    flex-direction: column;
}

.items-add-description h3 {
    font-size: 15px;
}

.items-add-price {
    width: 100%;
    display: flex;
    flex-direction: column;
}

.items-add-price input {
    width: 40px;
    height: 25px;
    font-family: 'Questrial', sans-serif;
    font-weight: 700;
    font-size: 15px;
}

.unit-price {
    display: flex;
    justify-content: space-between;
}

.unit-price p {
    margin-top: 0px;
    font-size: 18px;
}


/*MODAL ALERTA */

.modal--alert {
    width: 500px;
    height: 250px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-left: 400px;
    position: absolute;
    top: 150px;
    font-family: 'Questrial', sans-serif;
    font-size: 35px;
    font-weight: 700;
    text-align: center;
    padding: 30px;
    background-color: #ffffff;
    z-index: 2;
}

#modal--button {
    width: 200px;
    height: 50px;
}

#modal--button--cancel {
    width: 200px;
    height: 50px;
}


/* BOTONES DE COMPRAR Y VACIAR CESTA*/

.shop-button {
    background-color: #CB1F7F;
    color: #ffffff;
    border: none;
    border-radius: 10px;
    padding: 15px;
    margin-bottom: 15px;
}

.empty-shop-button {
    background-color: #ffffff;
    color: #CB1F7F;
    border: 1px solid #CB1F7F;
    border-radius: 10px;
    padding: 15px;
}


/* SECCION DE LOGO Y CESTA*/

.header-container {
    width: 100%;
    height: 80px;
    display: flex;
}

.img-header-container {
    width: 150px;
    height: 50px;
}

.img-header-container img {
    width: 100%;
    height: auto;
    padding: 10px;
}

.shopping-basket-section {
    width: 200px;
    height: 30px;
    font-size: 20px;
    font-family: 'Questrial', sans-serif;
    font-weight: 100;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    right: 5px;
    top: 30px;
    border: none;
    background-color: transparent;
}

.fa-shopping-basket {
    color: #CA1F7F;
    padding-right: 10px;
}


/* BANNER*/

.banner {
    width: 100%;
    height: 330px;
    background-image: url(./img/banner.jpg);
    background-position: center;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Prata', serif;
    font-size: 20px;
    color: #CA1F7F;
    -webkit-box-shadow: 2px 6px 11px -5px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 2px 6px 11px -5px rgba(0, 0, 0, 0.75);
    box-shadow: 2px 6px 11px -5px rgba(0, 0, 0, 0.75);
}

.banner::before {
    width: 100%;
    height: 330px;
    content: '';
    background-color: rgba(0, 0, 0, 0.2);
    display: flex;
    position: absolute;
}


/* SECCION PRINCIPAL*/

.principal-section {
    width: 100%;
    height: auto;
    display: flex;
}

.products-container {
    margin-left: 50px;
}

.filters-results-container {
    width: 100%;
    height: 80px;
    background-color: #ffffff;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
    margin-top: 70px;
}

.filters-results-container p {
    color: black;
    font-family: 'Questrial', sans-serif;
    font-size: 15px;
    margin-left: 15px;
    margin-right: 10px;
}

.buttons-filters-container {
    display: flex;
    text-align: center;
}

.button-filter {
    border: none;
    font-size: 20px;
    background-color: transparent;
    display: flex;
    align-items: center;
    color: #CA1F7F;
}


/*BOTON DISPLAY NONE APARECE EN MEDIA QUERY */

#button--view--aside--filters {
    display: none;
}


/*VISTA COMPRIMIDA  DE PRODUCTOS*/

.products-cards-section {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.product-card {
    width: 320px;
    background-color: #ffffff;
    font-family: 'Questrial', sans-serif;
    display: flex;
    justify-content: center;
    text-align: center;
    margin-top: 20px;
}

.product-information-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 20px;
}

.product-img {
    width: 100%;
    height: auto;
}

.product-img img {
    width: 100%;
    height: auto;
}


/*VISTA EXPANDIDA  DE PRODUCTOS */

.products--cards--section {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.product--card--expand {
    width: 100%;
    height: 350px;
    display: flex;
    margin-top: 25px;
    font-family: 'Questrial', sans-serif;
    background-color: #ffffff;
}

.product--information--container--expand {
    width: 100%;
    display: flex;
    align-items: center;
}

.product--description--expand {
    width: 100%;
    padding: 20px;
}

.product--img--expand {
    width: 300px;
    height: auto;
    padding: 10px;
}

.product--img--expand img {
    width: 100%;
    height: auto;
}

.product-title {
    font-family: 'Prata', serif;
    font-size: 15px;
}

.product-buy {
    margin-top: 25px;
}

.buy-button {
    width: 100%;
    height: 50px;
    border: none;
    border-radius: 10px;
    background-color: transparent;
    font-family: 'Questrial', sans-serif;
    font-size: 15px;
    background-color: rgba(255, 208, 232, 0.4);
}

.button--expand {
    width: 200px;
    height: 50px;
}

.buy-button:hover {
    background-color: rgba(255, 208, 232, 0.6)
}


/*ASIDE FILTROS*/

.search-filters {
    width: 100%;
    height: auto;
    margin-top: 70px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    font-family: 'Questrial', sans-serif;
    margin-left: 20px;
}

.search-filters p {
    color: #000000;
    font-size: 15px;
    padding-left: 5px;
}

.search-filters h2 {
    font-size: 15 px;
    padding-right: 70px;
}

.search-box {
    width: 80%;
    padding-left: 20px;
    font-family: 'Questrial', sans-serif;
    display: flex;
}

#search-box-input-right {
    width: 90%;
    padding: 10px;
    border: none;
    border-bottom: 2px solid #CA1F7F;
    background-color: transparent;
    text-align: center;
    font-size: 15px;
}

#search-box-input-left {
    width: 90%;
    padding: 10px;
    border: none;
    border-bottom: 2px solid #CA1F7F;
    background-color: transparent;
    text-align: center;
    font-size: 15px;
}

.search-box button {
    color: #CA1F7F;
    position: relative;
    bottom: 30px;
    left: 180px;
}

.filters-checkbox {
    display: flex;
    flex-direction: column;
    font-family: 'Questrial', sans-serif;
    padding-left: 20px;
    padding-top: 20px;
}

.fa-heart {
    color: #CA1F7F;
}


/*ASIDE FILTROS SECCION DERECHA*/

.aside--container--right {
    background-color: #ffffff;
    width: 250px;
    height: 100vh;
    position: absolute;
    right: 0px;
    top: 0px;
    z-index: 1;
}

.search--filters {
    margin-top: 0px;
    width: 100%;
    height: auto;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    font-family: 'Questrial', sans-serif;
}

.search--filters p {
    color: #000000;
    font-size: 15px;
    margin-left: 5px;
}

#button--close--filters {
    position: relative;
    right: 0px;
}

.button--close--filters--container {
    display: flex;
    justify-content: flex-end;
    margin-right: 10px;
    margin-top: 30px;
}

.footer-container {
    width: 100%;
    height: 100px;
    background-color: #ffffff;
    position: relative;
    bottom: 0px;
    margin-top: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Questrial', sans-serif;
}

.footer-container img {
    width: 100px;
    height: 40px;
    padding: 10px;
}

.footer-container i {
    margin-left: 5px;
}


/*CLASES PARA JS */

.ocultar {
    display: none;
}

#overlay--first {
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    position: fixed;
    top: 0px;
    right: 0px;
}

#overlay--second {
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.5);
    position: fixed;
    top: 0px;
    right: 0px;
    z-index: 2;
}

.overflow-hidden {
    overflow: hidden;
}


/*MEDIA QUERYS*/

@media (max-width: 900px) {
    .aside-container {
        display: none;
    }
    .products-container {
        display: flex;
        flex-direction: column;
        margin-left: 0px;
    }
    .products-cards-section {
        display: flex;
        justify-content: space-evenly;
    }
    .products-cards-section {
        width: 100%;
    }
    .product-card {
        width: 100%;
    }
    #button--view--aside--filters {
        border: none;
        font-size: 20px;
        background-color: transparent;
        display: flex;
        align-items: center;
        color: #CA1F7F;
    }
    #button-view-zip {
        display: none;
    }
    #button-view-expand {
        display: none;
    }
    #text-button-view {
        display: none;
    }
    .items-cest-container {
        width: 95%;
    }
    .pay-form-section {
        flex-wrap: wrap;
        width: 100%;
        top: 0px;
        left: 0px;
        font-family: 'Questrial', sans-serif;
        margin-bottom: 50px;
    }
    .total-subtotal {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        background-color: #F5F5F5;
        padding-left: 20px;
    }
}